body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.profile {
  border-radius: 50%;
  height: 200px;
  width: auto;

}

h1 {
  color: #1f3a3a;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  line-height: 2;
}

h2 {
  color: #4c8181;
  font-weight: normal;
  font-family: 'EB Garamond', serif;
  padding: auto;
}

h3 {
  color: #11999E;
  font-family: 'EB Garamond', serif;
}

hr {
  border: dotted #13221f 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.footer-link {
  color: #11999E;
  font-family: 'EB Garamond', serif;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #eaf6f6;
}
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
 background-color: #3d7272;
 padding: 50px 0 20px;
}

.Medical {
  color: #66BFBF;
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.range {
  width: auto;
  float: left;
  margin-right: auto;
}

.code-skill-description {
  clear: both;
}

.Design {
  width: auto;
  float: right;
  margin-right: right;
}

.contact-me {
  width: 40%;
  margin: auto;
  background-color: #11cdd4, #11999e;
}

.btn {
  background: #010203;
  background-image: -webkit-linear-gradient(top, #010203, #17888c);
  background-image: -moz-linear-gradient(top, #010203, #17888c);
  background-image: -ms-linear-gradient(top, #010203, #17888c);
  background-image: -o-linear-gradient(top, #010203, #17888c);
  background-image: linear-gradient(to bottom, #010203, #17888c);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'EB Garamond', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #0fc4a9;
  background-image: -webkit-linear-gradient(top, #0fc4a9, #d62240);
  background-image: -moz-linear-gradient(top, #0fc4a9, #d62240);
  background-image: -ms-linear-gradient(top, #0fc4a9, #d62240);
  background-image: -o-linear-gradient(top, #0fc4a9, #d62240);
  background-image: linear-gradient(to bottom, #0fc4a9, #d62240);
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}